In [4]:
import pandas as pd

reviews = pd.read_csv('../AirBnb datasets/barcelona/reviews.csv')

reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,18674,4808211,2013-05-27,4841196,Caron,"Great location. Clean, spacious flat. Would re..."
1,18674,10660311,2014-03-02,11600277,Juan Carlos,Mi mejor recomendación para este departamento....
2,269467,223325774,2018-01-01,41885149,Anita,Perfect place in a perfect area of Barcelona
3,269467,247939103,2018-03-30,120056532,Michael,Nice appartment
4,18674,41087522,2015-08-04,35231385,Shlomi,"Big apartment, well equipped.\r<br/>Very good ..."

Remove irrelevant columns

In [ ]:
columns_to_remove = ['id', 'date', 'reviewer_id', 'reviewer_name']
reviews = reviews.drop(columns=columns_to_remove)
reviews

Keep only reviews written in English

In [ ]:
from langdetect import detect, LangDetectException

reviews['comments'] = reviews['comments'].astype(str)

def is_english(text):
    try:
        return detect(text) == 'en'
    except LangDetectException:
        return False

reviews['is_english'] = reviews['comments'].apply(is_english)
reviews = reviews[reviews['is_english']].drop(columns=['is_english'])

In [ ]:
reviews.to_csv('english_reviews.csv', index=False)

In [ ]:
import pandas as pd

english_reviews = pd.read_csv('/Users/krys/Desktop/UNIVERSITY/Year 1/Data Mining and Machine Learning/AirBnb datasets/barcelona/english_reviews.csv')

english_reviews

Calculate sentiment

In [ ]:
from textblob import TextBlob

english_reviews['comments'] = english_reviews['comments'].astype(str)

def get_sentiment(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity


english_reviews['sentiment'] = english_reviews['comments'].apply(get_sentiment)

english_reviews.head()

In [ ]:
english_reviews.to_csv('english_reviews_with_sentiment.csv', index=False)

In [18]:
import pandas as pd

english_reviews_with_sentiment = pd.read_csv('/Users/krys/Desktop/UNIVERSITY/Year 1/Data Mining and Machine Learning/AirBnb datasets/barcelona/english_reviews_with_sentiment.csv')

english_reviews_with_sentiment = english_reviews_with_sentiment.drop(columns = ['comments'])

                 listing_id  sentiment
0                     18674   0.380556
1                    269467   1.000000
2                     18674   0.566667
3                     18674   0.206863
4                     18674   0.180000
...                     ...        ...
546760  1159510907921502773   0.333333
546761  1173173612230312659   0.278205
546762  1173173612230312659   0.302963
546763  1173173612230312659   0.337000
546764  1168002852247884730   0.000000

[546765 rows x 2 columns]

Group by 'listing_id' and calculate the average sentiment

In [20]:
english_reviews_with_sentiment['listing_id'] = english_reviews_with_sentiment['listing_id'].astype(str)

average_sentiment = english_reviews_with_sentiment.groupby('listing_id')['sentiment'].mean().reset_index()

average_sentiment.head()

In [23]:
average_sentiment.to_csv('sentiment.csv', index=False)