In [ ]:
import pandas as pd

# Set display options to show more rows and columns
pd.set_option('display.max_columns', None) # Show all columns

reviews = pd.read_csv('/Users/krys/Desktop/UNIVERSITY/Year 1/Data Mining and Machine Learning/AirBnb datasets/barcelona/reviews.csv')

In [ ]:
columns_to_remove = ['id', 'date', 'reviewer_id', 'reviewer_name']
reviews = reviews.drop(columns=columns_to_remove)
reviews

In [ ]:
from langdetect import detect, LangDetectException

# Function to detect language
def is_english(text):
    try:
        return detect(text) == 'en'
    except LangDetectException:
        return False

# Ensure the comments column is a string type to avoid errors
reviews['comments'] = reviews['comments'].astype(str)

# Apply the function to the 'comments' column
reviews['is_english'] = reviews['comments'].apply(is_english)

# Filter out non-English reviews
reviews = reviews[reviews['is_english']].drop(columns=['is_english'])

In [ ]:
reviews.to_csv('english_reviews.csv', index=False)

In [ ]:
import pandas as pd

english_reviews = pd.read_csv('/Users/krys/Desktop/UNIVERSITY/Year 1/Data Mining and Machine Learning/AirBnb datasets/barcelona/english_reviews.csv')

english_reviews

In [ ]:
from textblob import TextBlob

# Function to get sentiment
def get_sentiment(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

# Ensure the comments column is a string type to avoid errors
english_reviews['comments'] = english_reviews['comments'].astype(str)

# Apply the sentiment function to the 'comments' column
english_reviews['sentiment'] = english_reviews['comments'].apply(get_sentiment)

In [ ]:
english_reviews.to_csv('english_reviews_with_sentiment.csv', index=False)

In [18]:
import pandas as pd

english_reviews_with_sentiment = pd.read_csv('/Users/krys/Desktop/UNIVERSITY/Year 1/Data Mining and Machine Learning/AirBnb datasets/barcelona/english_reviews_with_sentiment.csv')

english_reviews_with_sentiment = english_reviews_with_sentiment.drop(columns = ['comments'])

english_reviews_with_sentiment

                 listing_id  sentiment
0                     18674   0.380556
1                    269467   1.000000
2                     18674   0.566667
3                     18674   0.206863
4                     18674   0.180000
...                     ...        ...
546760  1159510907921502773   0.333333
546761  1173173612230312659   0.278205
546762  1173173612230312659   0.302963
546763  1173173612230312659   0.337000
546764  1168002852247884730   0.000000

[546765 rows x 2 columns]

In [20]:
# Ensure listing_id is treated as string
english_reviews_with_sentiment['listing_id'] = english_reviews_with_sentiment['listing_id'].astype(str)

# Group by 'listing_id' and calculate the average sentiment
average_sentiment = english_reviews_with_sentiment.groupby('listing_id')['sentiment'].mean().reset_index()

In [23]:
average_sentiment.to_csv('sentiment.csv', index=False)