In [ ]:
import pandas as pd

# Set display options to show more rows and columns
pd.set_option('display.max_columns', None) # Show all columns

reviews = pd.read_csv('/Users/krys/Desktop/UNIVERSITY/Year 1/Data Mining and Machine Learning/AirBnb datasets/barcelona/reviews.csv')

In [ ]:
columns_to_remove = ['id', 'date', 'reviewer_id', 'reviewer_name']
reviews = reviews.drop(columns=columns_to_remove)
reviews

In [ ]:
from langdetect import detect, LangDetectException

# Function to detect language
def is_english(text):
    try:
        return detect(text) == 'en'
    except LangDetectException:
        return False

# Ensure the comments column is a string type to avoid errors
reviews['comments'] = reviews['comments'].astype(str)

# Apply the function to the 'comments' column
reviews['is_english'] = reviews['comments'].apply(is_english)

# Filter out non-English reviews
reviews = reviews[reviews['is_english']].drop(columns=['is_english'])

In [ ]:
reviews.to_csv('english_reviews.csv', index=False)

In [1]:
import pandas as pd

english_reviews = pd.read_csv('/Users/krys/Desktop/UNIVERSITY/Year 1/Data Mining and Machine Learning/AirBnb datasets/barcelona/english_reviews.csv')

/Users/krys/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
from textblob import TextBlob

# Function to get sentiment
def get_sentiment(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

# Ensure the comments column is a string type to avoid errors
english_reviews['comments'] = english_reviews['comments'].astype(str)

# Apply the sentiment function to the 'comments' column
english_reviews['sentiment'] = english_reviews['comments'].apply(get_sentiment)

In [7]:
english_reviews.to_csv('english_reviews_with_sentiment.csv', index=False)

In [15]:
english_reviews

,listing_id,comments,sentiment
0,18674,"Great location. Clean, spacious flat. Would re...",0.380556
1,269467,Perfect place in a perfect area of Barcelona,1.000000
2,18674,"Big apartment, well equipped.\r<br/>Very good ...",0.566667
3,18674,The Check in was fast and flexible. The price ...,0.206863
4,18674,Great location and enough space in the apartme...,0.180000
...,...,...,...
546760,1159510907921502773,Absolutely perfect place to stay in heart of B...,0.333333
546761,1173173612230312659,Fantastic flat in a nice neighbourhood. Everyt...,0.278205
546762,1173173612230312659,Perfect apartment equipped with everything you...,0.302963
546763,1173173612230312659,A lovely & well presented comfy flat. The Loca...,0.337000
546764,1168002852247884730,Not recommended for the price,0.000000

In [9]:
# Group by 'id' and calculate the mean sentiment for each group
aggregated_sentiment = english_reviews.groupby('listing_id')['sentiment'].mean().reset_index()
aggregated_sentiment.rename(columns={'sentiment': 'average_sentiment'}, inplace=True)

In [13]:
# Sort the dataset by 'average_sentiment' in ascending order
aggregated_sentiment = aggregated_sentiment.sort_values(by='listing_id')

In [14]:
aggregated_sentiment

                                              listing_id  average_sentiment
0                                               10003263           0.405025
1                                    1000432235531291341           0.336934
2                                    1000447810456915898           0.376677
3                                    1000466852301593784           0.432986
4                                    1000514588274707195           0.364167
...                                                  ...                ...
16637     <br/>ホストのレオはとても親切な人で、予約までのやりとりのメールもスムーズに行えました。           0.000000
16638  <br/>到着した日にはバルセロナの地図をくれて、地下鉄の乗り方や観光名所のまでの行き方、近...           0.000000
16639  <br/>这套公寓堪称完美，装饰的非常特别，坐在阳台上享受早餐或者晚餐是非常棒的体验。我们很...           0.000000
16640                         <br/>部屋は清潔でとても居心地のいい空間でした。           0.000000
16641                                        <br/>감사합니다.           0.000000

[16642 rows x 2 columns]